useDynLib(refGenome)
## utils: for "head" and "tail" generics
import(methods)
import(utils)
importFrom(doBy,summaryBy)
importFrom(DBI, dbDriver)
importFrom(RSQLite, dbConnect, dbDisconnect,  dbWriteTable, dbReadTable, dbExistsTable)
importFrom(graphics, plot)
exportMethods(
    addIsCoding,
    addIsoforms,
    addEnsembl,
    addXref,
    basedir,
    "basedir<-",
    extractByGeneName,
    extractByGeneId,
    extractFeature,
    extractPaGenes,
    extractSeqids,
    extractTranscript,
    getGenePositions,
    getGeneTable,
    getSpliceTable,
    getGtf,
    initialize,
    plotUbs,
    read.gtf,
    refExons,
    saveGenome,
    setGtf,
    tableFeatures,
    tableSeqids,
    tableTranscript.id,
    tableTranscript.name,
    unifyJuncs,
    unifyRanges,
    writeDB,
    getXref
)

exportClasses(
     ensemblGenome,
     ensemblExons,
     ensemblJunctions,
     unifiedExons,
     ucscExons,
     ucscGenome,
     ucscJunctions
)
export(
    ensemblExons,
    ensemblGenome,
    ensemblJunctions,
    ensPrimAssembly,
    loadGenome,
    loadGenomeDb,
    overlap,
    overlapJuncs,
    ucPrimAssembly,
    ucscExons,
    ucscGenome,
    ucscJunctions
)
