useDynLib(refGenome)
## utils: for "head" and "tail" generics
import(utils,RSQLite)
exportMethods(
    addIsoforms,
    addEnsembl,
    addXref,
    basedir,
    "basedir<-",
    extractByGeneName,
    extractFeature,
    extractPaGenes,
    extractSeqids,
    extractTranscript,
    getGenePositions,
    getSpliceTable,
    moveAttributes,
    getAttr,
    getGtf,
    initialize,
    read.gtf,
    refExons,
    saveGenome,
    setAttr,
    setGtf,
    tableAttributeTypes,
    tableFeatures,
    tableSeqids,
    tableTranscript.id,
    tableTranscript.name,
    unifyJuncs,
    writeDB,
    getXref
)

exportClasses(
     ensemblGenome,
     ensemblExons,
     ensemblJunctions,
     ucscExons,
     ucscGenome,
     ucscJunctions
)
export(
    ensemblExons,
    ensemblGenome,
    ensemblJunctions,
    ensPrimAssembly,
    loadGenome,
    loadGenomeDb,
    overlap,
    ucPrimAssembly,
    ucscExons,
    ucscGenome,
    ucscJunctions
)
